In [156]:
#IMPORT LIBRARIES
import pandas as pd


#IMPORT DATA
csv_data = pd.read_csv("Resources/purchase_data.csv", encoding="utf-8")
df = pd.DataFrame(csv_data)

In [157]:
#check for clean data
#df.count()

In [158]:
#df.dtypes

In [159]:
#Preview Data
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [160]:
#PLAYER COUNT
p_count = len(df["SN"])

df_player_count = pd.DataFrame({"Total Players": [p_count]})
df_player_count

   Total Players
0            780

In [161]:
#PURCHASING ANALYSIS (TOTAL)

#unique items
items_count = len(df["Item ID"].unique())

#average price
avg_price = '$' + str(round(df["Price"].mean(), 2))

#num of purchases
purchase_count = str(len(df["Purchase ID"]))

#total revenue
total_rev = '$' + str(df["Price"].sum())


data = {'Number of Unique Items': [items_count],
        'Average Price':[avg_price],
        'Number of Purchases':[purchase_count],
        'Total Revenue':[total_rev]}



df_purchase_analysis = pd.DataFrame(data)
df_purchase_analysis

   Number of Unique Items Average Price Number of Purchases Total Revenue
0                     183         $3.05                 780      $2379.77

In [162]:
#COLLECT GENDER DATA
df_male = df[df.Gender.isin(['Male'])]
df_female = df[df.Gender.isin(['Female'])]
df_other = df[df.Gender.isin(['Other / Non-Disclosed'])]

In [163]:
#GENDER DEMOGRAPHICS

#male
male = len(df_male)
male_pct = str(round((male / p_count)*100, 2)) + '%'

#female
female = len(df_female)
female_pct = str(round((female / p_count)*100, 2)) + '%'

#other
other = len(df_other) 
other_pct = str(round((other /  p_count)*100, 2)) + '%'


data = [['Male', male, male_pct], ['Female', female, female_pct], ['Other', other, other_pct]]
columns = ['Gender', 'Total Count', 'Percentage of Players']

df_gender = pd.DataFrame(data, columns = columns)
df_gender

   Gender  Total Count Percentage of Players
0    Male          652                83.59%
1  Female          113                14.49%
2   Other           15                 1.92%

In [164]:
#Purchase Analysis Data
avg_price_female = '$' + str(round((df_female["Price"].mean()), 2))

avg_price_male = '$' + str(round((df_male["Price"].mean()), 2))

avg_price_other = '$' + str(round((df_other["Price"].mean()), 2))

In [165]:
#PURCHASING ANALYSIS (GENDER)



data = [['Gender', ' ', ' ', ' ', ' '],
        ['Female', female, avg_price_female, ' ', ' '],
        ['Male', male, avg_price_male, ' ', ' '],
        ['Other / Non-Disclosed', other, avg_price_other, ' ', ' ']]

columns = [' ', 'Purchase Count', 'Average Purchase Price', 'Total Purchase Value', 'Avg Total Purchase per Person']


df_purchase_gen = pd.DataFrame(data, columns= columns)
df_purchase_gen

,,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Gender,,,,
1,Female,113,$3.2,,
2,Male,652,$3.02,,
3,Other / Non-Disclosed,15,$3.35,,