In [106]:
#IMPORT LIBRARIES
import pandas as pd


#IMPORT DATA
csv_data = pd.read_csv("Resources/purchase_data.csv", encoding="utf-8")
df = pd.DataFrame(csv_data)

In [107]:
#check for clean data
df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [108]:
df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [109]:
#Preview Data
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [110]:
#PLAYER COUNT
count = []
count.append(df["SN"].count())

player_count_df = pd.DataFrame({"Total Players": count})
player_count_df

   Total Players
0            780

In [123]:
#PURCHASING ANALYSIS (TOTAL)

#unique items
items_count = len(df["Item ID"].unique())

#average price
avg_price = str(round(df["Price"].mean(), 2))
avg_price

#num of purchases
purchase_count = str(len(df["Purchase ID"]))

#total revenue
total_rev = str(df["Price"].sum())


data = {'Number of Unique Items': [items_count],
        'Average Price':['$'+avg_price],
        'Number of Purchases':[purchase_count],
        'Total Revenue':['$'+total_rev]}



purchase_analysis_df = pd.DataFrame(data)
purchase_analysis_df

   Number of Unique Items Average Price Number of Purchases Total Revenue
0                     183         $3.05                 780      $2379.77